.mypage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    color: #333;          /* ★ 글자색 어둡게 */
}

.mypage-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;          /* 제목 진하게 */
}
